{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "css/registro.css" %}>
    <link rel="stylesheet" href= {% static "css/estilosloginregis.css" %} >
    <!-- bootstrap linked-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Formulario de Registro</title>
</head>
<body>

    <header>
        <div class="container">
            <p class="logo">Electrodomésticos GELMAR</p>
            <nav>
                <a href= "{% url 'inicio' %}">Inicio</a>
                <a href="/productos">Nuestros Productos</a>
                <a href="{% url 'login' %}">Iniciar Sesión</a>
            </nav>
        </div>
    </header>

     
    
    <div class="contenedor">
        <h2>Registrarse </h2>
        


        <form enctype="multipart/form-data" method="POST" action="">
            <div class="elemento">
                {% csrf_token %}
                {{form}}
                <div class="elemento2">
                    <form action="/registro">
                        <input type="submit" value="Registrarse">
                    </form>
                </div>
            </div>
           
            <div class="cuenta">
                <p><a href="/login">¿Ya tengo una cuenta?</a></p>
            </div>
         
        </form>    
    </div>

    <section id="footer">
        <footer>
            <p>&copy;GelmarElectrodomesticos 2022</p>
        </footer>    

    </section>

    <!--card end here-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous">
   </script>
  
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous">
   </script>
  
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous">
   </script>

</body>
</html>

    
